/* 
    Created on : 9-dec-2015
    Author     : Pieter Dol
*/

* {
    font-family: Verdana, Arial;
}

#sudokuContainer{
    position:   relative;
    float:      left;
    border:     2px solid black;
}
    .sudokuRow,.sudokuValue{
        position:   relative;
        float:      left;
    }
    .sudokuRow{
        clear:  both;
    }
        .sudokuValue{
            border:         none;
            border-right:   1px solid lightgrey;
            border-bottom:  1px solid lightgrey;
            text-align:     center;
            clear:          none;
        }
        
        .sudokuValueInput{
            border:         none;
            height:         50px;
            width:          50px;
            text-align:     center;
        }
        .sudokuValueInput.bold{
            font-weight:    bold;
        }
        
        /* Sudoku borders*/
        #sudoku-1-1,#sudoku-1-2,#sudoku-1-4,#sudoku-1-5,#sudoku-1-7,#sudoku-1-8,
        #sudoku-2-1,#sudoku-2-2,#sudoku-2-4,#sudoku-2-5,#sudoku-2-7,#sudoku-2-8,
        #sudoku-3-1,#sudoku-3-2,#sudoku-3-4,#sudoku-3-5,#sudoku-3-7,#sudoku-3-8,
        #sudoku-4-1,#sudoku-4-2,#sudoku-4-4,#sudoku-4-5,#sudoku-4-7,#sudoku-4-8,
        #sudoku-5-1,#sudoku-5-2,#sudoku-5-4,#sudoku-5-5,#sudoku-5-7,#sudoku-5-8,
        #sudoku-6-1,#sudoku-6-2,#sudoku-6-4,#sudoku-6-5,#sudoku-6-7,#sudoku-6-8,
        #sudoku-7-1,#sudoku-7-2,#sudoku-7-4,#sudoku-7-5,#sudoku-7-7,#sudoku-7-8,
        #sudoku-8-1,#sudoku-8-2,#sudoku-8-4,#sudoku-8-5,#sudoku-8-7,#sudoku-8-8,
        #sudoku-9-1,#sudoku-9-2,#sudoku-9-4,#sudoku-9-5,#sudoku-9-7,#sudoku-9-8
        {
            border-right:   1px solid lightgrey;
        }
        /* De rechterkolom krijgt geen border-right */
        #sudoku-1-9,#sudoku-2-9,#sudoku-3-9,#sudoku-4-9,#sudoku-5-9,#sudoku-6-9,#sudoku-7-9,#sudoku-8-9,#sudoku-9-9
        {
            border-right:   none;
        }
        /* Border onderin om de drie rijen */
        #sudoku-3-1,#sudoku-3-2,#sudoku-3-3,#sudoku-3-4,#sudoku-3-5,#sudoku-3-6,#sudoku-3-7,#sudoku-3-8,#sudoku-3-9,
        #sudoku-6-1,#sudoku-6-2,#sudoku-6-3,#sudoku-6-4,#sudoku-6-5,#sudoku-6-6,#sudoku-6-7,#sudoku-6-8,#sudoku-6-9{
            border-bottom:2px solid black;
        }
        /* Onderste rij krijgt geen border-bottom */
        #sudoku-9-1,#sudoku-9-2,#sudoku-9-3,#sudoku-9-4,#sudoku-9-5,#sudoku-9-6,#sudoku-9-7,#sudoku-9-8,#sudoku-9-9{
            border-bottom:none;
        }
        #sudoku-1-3,#sudoku-1-6,
        #sudoku-2-3,#sudoku-2-6,
        #sudoku-3-3,#sudoku-3-6,
        #sudoku-4-3,#sudoku-4-6,
        #sudoku-5-3,#sudoku-5-6,
        #sudoku-6-3,#sudoku-6-6,
        #sudoku-7-3,#sudoku-7-6,
        #sudoku-8-3,#sudoku-8-6,
        #sudoku-9-3,#sudoku-9-6
        {
            border-right:2px solid black;
        }
        
    #submitSudoku {
        position: relative;
        float: left;
        clear: both;
        background: none;
        border: 1px solid #000;
        color: #000;
        text-transform: uppercase;
        padding:5px;
        margin-top:10px;
        cursor:pointer;
    }
    #submitSudoku:hover {
        color: #fff;
        background-color: #000;
    }
    
    #resultContainer {
        border: 1px solid #000;
        color: #000;
        background: none;
        padding: 10px;
        display: none;
        position:relative;
        float:left;
        clear:both;
        margin-top:10px;
    }
    #resultContainer.error {
        color: #fff;
        background-color: red;
        border: 1px solid red;
    }
    #resultContainer.success {
        color: #fff;
        background-color: green;
        border: 1px solid green;
    }