{% extends "Main/MainTemplate.twig" %}

{% block title title %}

{% block content %}
    <div class='row'>
        <div class='col-xs-12'>
            <h2>
                {{ title }}
            </h2>
        </div>
    </div>
{% endblock %}